@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #909090;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
}
